{
  "extends": ["airbnb", "prettier", "plugin:jest/all"],
  "plugins": [
    "jest",
    "prettier",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "rules": {
    "prettier/prettier": "error",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error"
  }
}
