{
  "extends": ["airbnb", "prettier"],
  "plugins": [
    "prettier",
    "jsx-a11y",
    "import"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
